.modal {
    width: 250px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    transform:translateX(-85%); 
    position: relative;
    z-index: 998;
    
}

.header {
    text-align:center;
}

.modalContainer{
    border-bottom: 1px solid black;
    min-height: 355px;
    height: auto;
    overflow-y: scroll;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer button {
  background: rgb(46, 43, 43);
  color:white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  cursor: pointer;
  width: 130px;
}

.footer button:hover {
    background: rgb(56, 54, 54);
    transition: .5s;
}